.test-case, .dialog { padding: 16px 0 1px 0; }
.test-case h2, .dialog h2 { padding-top: 0px; }
.test-case p, .dialog p { padding: 0 16px; }

.test-case.intro > p { margin-top: 0; }

/** Option lists **/
.test-case ol {
  margin: 0 0 8px 0;
  padding: 0 16px;
}

.test-case ol > li {
  border-bottom: none;
  padding: 0 0 8px 0;
  display: flex;
  align-items: center;
}

/** Option field **/
.test-case li > label {
  width: 130px;
}

.test-case li > input,
.test-case li > select {
  flex: 1;
}

.test-case li > input[type="checkbox"] {
  margin-left: 0px;
  flex: none;
}

.test-case li.no-label {
  padding-left: 130px;
}

.requirements {
  margin: 0 0 8px 0;
  padding-top: 8px; padding-bottom: 8px;
  background-color: rgba(255, 0, 0, .1);
}

.notes {
  margin: 0 0 8px 0;
  padding-top: 8px; padding-bottom: 8px;
  background-color: rgba(255, 255, 0, .1);
}

.dialog-content { display: none; }

.no-display { display: none; }

.curl { font-size: .7em; color: #555; }

.dialog-overlay {
  position: fixed;
  z-index: 1;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .4);
  cursor: pointer;
}

.dialog p { word-break: break-all; }

.dialog {
  position: absolute;
  z-index: 2;

  width: 80%;

  top: 80px;
  margin-left: 10%;
  box-sizing: border-box;

  background-color: white;
  box-shadow: 0px 1px 4px #444;
}

#subscription-spinner, #request-spinner {
  position: absolute;
  margin: 0 0 0 8px;
  visibility: hidden;
}

#message-info-dialog > p {
  font-family: monospace;
  white-space: pre-wrap;
}

h2 { text-indent: 0; }

ol.subtasks p a {
  text-decoration: underline;
  color: #999999;
}
