section > p:not(.notice) {
    padding: 0 0 16px 16px;
    margin: -8px 0 0 0;
    font-size: .8em;
    color: #999999;
}

.data-table {
    width: calc(100% - 32px);
    margin: 0 16px;
    padding-bottom: 16px;
}

.data-table thead tr:first-child {
    font-weight: bold;
    color: #555555;
}

.data-table thead tr:last-child {
    font-style: italic;
    font-size: .8em;
    text-align: right;
    color: #555555;
}

.data-table td { padding: 4px;}
.data-table tbody td { font-size: .8em; }

.data-table tbody td:not(:first-child) {
    text-align: right;
}

.data-table td:nth-child(2n),
.data-table thead :first-child :not(:first-child) {
    border-left: 1px solid #ccc;
}

.data-table thead :last-child td {
    border-bottom: 1px solid #ccc;
}