RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^((notification|push)\-generator)/(.+?)$ /cases/$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*/$ /index.php [L,QSA]

<IfModule mod_headers.c>
  Header set Strict-Transport-Security: max-age=31536000
</IfModule>
