h3 img {
    vertical-align: bottom;
    margin-left: 8px;
}

section > p {
    padding: 0 16px;
}

h2 { text-indent: 1.8em; }

h2 > .indicator {
    display: inline-block;
    position: absolute;
    margin: 2px 0 0 -1.8em;

    width: 1em;
    height: 1em;
    border-radius: .5em;

    border: 1px solid #ccc;
}

section.state-good .indicator {
    background-color: #25a00b;
}

section.state-warning .indicator {
    background-color: #ffc200;
}

section.state-error .indicator {
    background-color: #ff0000;
}

ol.tasks {
    margin: 0px;
    background-color: #f4f4f4;
}

ol.subtasks {
    margin-top: 0px;
}
