# Copyright 2016 Peter Beverloo. All rights reserved.
# Use of this source code is governed by the MIT license, a copy of which can
# be found in the LICENSE file.

<Files selection.js>
  AddHandler application/x-httpd-php js
</Files>
