/** General styling (metrics and shared theming) **/

header {

}

header > .header-overlay {
  background-color: rgba(0, 0, 0, .4);
  margin-bottom: 48px;
  height: 8px;
}

header > h1 {
  background-color: white;
  padding: 8px 16px 0 16px;
}

section:first-of-type {
  padding-top: 0px;
}

footer > aside {
  display: none;
}

@media (max-width: 1024px) {
  .blue  header { background: url(/images/header-blue-1024.jpg) center 0px; }
  .green header { background: url(/images/header-green-1024.jpg) center 0px; }
}
